header {
    background-color: #2c3e50;
    height: 80px;
}

/* LAYOUT UTILITY */
.debug .row {
    background-color: aquamarine;
    border: 1px solid green;
    min-height: 20px;
}

.debug [class*="col-"] {
    background-color: red;
    border: 1px solid black
}

/* HEADER */
.header-box {
    max-height: 80px;
}

.header-navbar {
    height: 80px
}

.header-left-nav {
    height: 100%;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
}

.jumbo-content {
    height: 100%;
}


.jumbo-img-box {
    height: 300px;
}

.jumbo-txt-box {
    height: 100px;
}

/* PORTFOLIO SECTION */
.section-title-box {
    height: 200px;
}

.exemple-img {
    height: 300px;
}

/* ABOUT SECTION */
.about-txt-left,
.about-txt-right {
    height: 200px;
}

.about-button-box {
    height: 50px;
}

/* CONTACT ME  */
.contact-me-info {
    height: 300px;
}

.send-button-box {
    height: 100px;
}