/* GENERICS */

header {
    background-color: #2c3e50;
}

img {
    width: 100%;
}

/* LAYOUT UTILITY */
.debug .row {
    background-color: aquamarine;
    border: 1px solid green;
    min-height: 20px;
}

.debug [class*="col-"] {
    background-color: red;
    border: 1px solid black
}

/* MY COLOR UTILITY */
.my-text-white {
    color: white;
}


/* MAIN */

/* STAR SEPARATOR */
.left-star {
    height: 4px;
}

.middle-star {}

.right-star {
    height: 4px;
}


/* HEADER */


/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
}

.jumbo-title {
    font-weight: 600;
}

.jumbo-img-box {}

.jumbo-img {
    max-width: 300px
}



/* PORTFOLIO SECTION */




/* ABOUT SECTION */
#about {
    background-color: #1abc9c;
}

.about-txt-left,
.about-txt-right {
    height: 200px;
}

.about-button-box {
    height: 50px;
}

/* CONTACT ME  */

.contact-me-info {
    height: 300px;
}

.send-button-box {
    height: 100px;
}


/* FOOTER */
footer {
    background-color: #3a546d;
}

.location-box,
.social-box,
.about-box {
    height: 300px;
}

.copyright {
    height: 100px;
    background-color: #2c3e50
}